.meetvol-container {
  all: revert;
  display: inline-block;

  position: relative;
}

.meetvol-container * {
  all: revert;
}

.meetvol-popup {
  position: absolute;
  bottom: calc(100% + 1em);
  left: 50%;
  transform: translateX(-50%);

  width: 25em;
  height: auto;

  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0.5em 2em 2em 2em;

  color: black;
}

.meetvol-control-item {
  width: 100%;
  margin: 0.25em 1em;

  display: flex;
  flex-direction: row;
  justify-content: center;

  text-align: center;
}

.meetvol-control-item > * {
  margin: 0 0.25em;
  text-align: center;
}

.meetvol-control-item .meetvol-slider {
  width: 75%;
  margin: 0 1em;
}

.meetvol-control-item .meetvol-slider-index {
  width: 1.2em;
}

.meetvol-control-item .meetvol-slider-output {
  width: 2.5em;
}

.meetvol-control-item .meetvol-slider-gainView {
  width: 2.75em;
}
